<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>MJHOTEL</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- ////////////////////////////////////////////////////////로그인,가입  -->   
  <!-- 로그인  -->
  <servlet>
  	<servlet-name>Login</servlet-name>
  	<servlet-class>net.hb.mvc.LoginController</servlet-class>
   </servlet>
  <servlet-mapping>
  	<servlet-name>Login</servlet-name>
  	<url-pattern>/login.do</url-pattern>
  </servlet-mapping>
 
  <!-- 회원가입  -->
  <servlet>
  	<servlet-name>Join</servlet-name>
  	<servlet-class>net.hb.mvc.JoinController</servlet-class>
   </servlet>
  <servlet-mapping>
  	<servlet-name>Join</servlet-name>
  	<url-pattern>/login/join.do</url-pattern>
  </servlet-mapping>
  
  <!-- 아이디 중복  -->
  <servlet>
  	<servlet-name>IDCheck</servlet-name>
  	<servlet-class>net.hb.mvc.SearchController</servlet-class>
   </servlet>
  <servlet-mapping>
  	<servlet-name>IDCheck</servlet-name>
  	<url-pattern>/login/search.do</url-pattern>
  </servlet-mapping>
  
  <!-- ////////////////////////////////////////////////////////회원정보  --> 
  <!-- 내정보 확인 -->
  <servlet>
    <servlet-name>MemberInfo</servlet-name>
    <servlet-class>member.mvc.memberController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberInfo</servlet-name>
    <url-pattern>/memberInfo.do</url-pattern>
  </servlet-mapping>
  
  <!-- 내정보 상세 -->
  <servlet>
    <servlet-name>MemberDetail</servlet-name>
    <servlet-class>member.mvc.DetailController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberDetail</servlet-name>
    <url-pattern>/memberDetail.do</url-pattern>
  </servlet-mapping>
  
  <!-- 내정보 수정화면 불러오기 -->
  <servlet>
    <servlet-name>MemberEditPre</servlet-name>
    <servlet-class>member.mvc.EditPreController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberEditPre</servlet-name>
    <url-pattern>/memberEditPre.do</url-pattern>
  </servlet-mapping>
  
  <!-- 내정보 수정 -->
  <servlet>
    <servlet-name>MemberEdit</servlet-name>
    <servlet-class>member.mvc.EditController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberEdit</servlet-name>
    <url-pattern>/memberEdit.do</url-pattern>
  </servlet-mapping>
  
  <!-- 회원 목록 -->
  <servlet>
    <servlet-name>Member</servlet-name>
    <servlet-class>member.mvc.ListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Member</servlet-name>
    <url-pattern>/member.do</url-pattern>
  </servlet-mapping> 

  <!-- 회원 삭제 -->
  <servlet>
    <servlet-name>MemberDelete</servlet-name>
    <servlet-class>member.mvc.DeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberDelete</servlet-name>
    <url-pattern>/memberDelete.do</url-pattern>
  </servlet-mapping>  
  
  <!-- ////////////////////////////////////////////////////////공지사항  -->
  <!-- 회원용 공지사항 목록  -->
  <servlet>
  	<servlet-name>G_Notice</servlet-name>
  	<servlet-class>notice.mvc.G_ListController</servlet-class>
   </servlet>
  <servlet-mapping>
  	<servlet-name>G_Notice</servlet-name>
  	<url-pattern>/G_notice.do</url-pattern>
  </servlet-mapping>
  
  <!-- 회원용 공지사항 상세  -->
  <servlet>
  	<servlet-name>G_NoticeDetail</servlet-name>
  	<servlet-class>notice.mvc.G_DetailController</servlet-class>
   </servlet>
  <servlet-mapping>
  	<servlet-name>G_NoticeDetail</servlet-name>
  	<url-pattern>/G_noticeDetail.do</url-pattern>
  </servlet-mapping>
  
  <!-- 공지사항 목록  -->
  <servlet>
  	<servlet-name>Notice</servlet-name>
  	<servlet-class>notice.mvc.ListController</servlet-class>
   </servlet>
  <servlet-mapping>
  	<servlet-name>Notice</servlet-name>
  	<url-pattern>/notice.do</url-pattern>
  </servlet-mapping>
  
  <!-- 메인 공지사항 목록  -->
  <servlet>
  	<servlet-name>MainNotice</servlet-name>
  	<servlet-class>notice.mvc.MainListController</servlet-class>
   </servlet>
  <servlet-mapping>
  	<servlet-name>MainNotice</servlet-name>
  	<url-pattern>/mainNotice.do</url-pattern>
  </servlet-mapping>
  
  <!-- 공지사항 등록  -->
  <servlet>
  	<servlet-name>NoticeInsert</servlet-name>
  	<servlet-class>notice.mvc.InsertController</servlet-class>
   </servlet>
  <servlet-mapping>
  	<servlet-name>NoticeInsert</servlet-name>
  	<url-pattern>/noticeInsert.do</url-pattern>
  </servlet-mapping>
  
  <!-- 공지사항 상세  -->
  <servlet>
  	<servlet-name>NoticeDetail</servlet-name>
  	<servlet-class>notice.mvc.DetailController</servlet-class>
   </servlet>
  <servlet-mapping>
  	<servlet-name>NoticeDetail</servlet-name>
  	<url-pattern>/noticeDetail.do</url-pattern>
  </servlet-mapping>
  
  <!-- 공지사항 수정  -->
  <servlet>
  	<servlet-name>NoticeEdit</servlet-name>
  	<servlet-class>notice.mvc.EditController</servlet-class>
   </servlet>
  <servlet-mapping>
  	<servlet-name>NoticeEdit</servlet-name>
  	<url-pattern>/noticeEdit.do</url-pattern>
  </servlet-mapping>
  
  <!-- 공지사항 수정화면 불러오기  -->
  <servlet>
  	<servlet-name>NoticeEditPre</servlet-name>
  	<servlet-class>notice.mvc.EditPreController</servlet-class>
   </servlet>
  <servlet-mapping>
  	<servlet-name>NoticeEditPre</servlet-name>
  	<url-pattern>/noticeEditPre.do</url-pattern>
  </servlet-mapping>  
  
  <!-- 공지사항 삭제  -->
  <servlet>
  	<servlet-name>NoticeDelete</servlet-name>
  	<servlet-class>notice.mvc.DeleteController</servlet-class>
   </servlet>
  <servlet-mapping>
  	<servlet-name>NoticeDelete</servlet-name>
  	<url-pattern>/noticeDelete.do</url-pattern>
  </servlet-mapping>
  
  <!-- ////////////////////////////////////////////////////////이벤트  -->
  <!-- 회원용 이벤트 목록  -->
  <servlet>
  	<servlet-name>G_Event</servlet-name>
  	<servlet-class>event.mvc.G_EventController</servlet-class>
   </servlet>
  <servlet-mapping>
  	<servlet-name>G_Event</servlet-name>
  	<url-pattern>/G_event.do</url-pattern>
  </servlet-mapping>
    
  <!-- 이벤트목록 --> 
  <servlet>
    <servlet-name>Event</servlet-name>
    <servlet-class>event.mvc.EventController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Event</servlet-name>
    <url-pattern>/event.do</url-pattern>
  </servlet-mapping>

  <!-- 이벤트등록 -->
  <servlet>
    <servlet-name>EventInsert</servlet-name>
    <servlet-class>event.mvc.EventInsertController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EventInsert</servlet-name>
    <url-pattern>/eventInsert.do</url-pattern>
  </servlet-mapping> 
  
  <!--  이벤트삭제 -->
    <servlet>
  	<servlet-name>EventDelete</servlet-name>
  	<servlet-class>event.mvc.EventDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>EventDelete</servlet-name>
  	<url-pattern>/eventDelete.do</url-pattern>
  </servlet-mapping>

  <!-- ////////////////////////////////////////////////////////게스트  -->  
  <!-- 회원용 게스트 목록 -->
  <servlet>
    <servlet-name>G_Guest</servlet-name>
    <servlet-class>guest.mvc.G_ListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>G_Guest</servlet-name>
    <url-pattern>/G_guest.do</url-pattern>
  </servlet-mapping>
  
  <!-- 회원용 게스트 등록 -->
  <servlet>
    <servlet-name>G_GuestInsert</servlet-name>
    <servlet-class>guest.mvc.G_InsertController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>G_GuestInsert</servlet-name>
    <url-pattern>/G_guestInsert.do</url-pattern>
  </servlet-mapping>
  
  <!-- 회원용 게스트 상세 -->
  <servlet>
    <servlet-name>G_GuestDetail</servlet-name>
    <servlet-class>guest.mvc.G_DetailController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>G_GuestDetail</servlet-name>
    <url-pattern>/G_guestDetail.do</url-pattern>
  </servlet-mapping>
  
  <!-- 회원용 게스트 수정화면 불러오기 -->
  <servlet>
    <servlet-name>G_GuestEditPre</servlet-name>
    <servlet-class>guest.mvc.G_EditPreController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GuestEditPre</servlet-name>
    <url-pattern>/G_guestPreEdit.do</url-pattern>
  </servlet-mapping>
  
  <!-- 회원용 게스트 수정 -->
  <servlet>
    <servlet-name>G_GuestEdit</servlet-name>
    <servlet-class>guest.mvc.G_EditController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>G_GuestEdit</servlet-name>
    <url-pattern>/G_guestEdit.do</url-pattern>
  </servlet-mapping>
  
  <!-- 회원용 게스트 삭제 -->
  <servlet>
    <servlet-name>G_GuestDelete</servlet-name>
    <servlet-class>guest.mvc.G_DeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>G_GuestDelete</servlet-name>
    <url-pattern>/G_guestDelete.do</url-pattern>
  </servlet-mapping>
  
  <!-- 회원용 게스트 댓글 쓰기 -->
  <servlet>
    <servlet-name>G_GuestCoInsert</servlet-name>
    <servlet-class>guest.mvc.G_coInsertController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>G_GuestCoInsert</servlet-name>
    <url-pattern>/G_guestCoInsert.do</url-pattern>
  </servlet-mapping>
  
  <!-- 회원용 댓글 삭제 -->
  <servlet>
    <servlet-name>G_GuestCoDelete</servlet-name>
    <servlet-class>guest.mvc.G_coDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>G_GuestCoDelete</servlet-name>
    <url-pattern>/G_guestCoDelete.do</url-pattern>
  </servlet-mapping>
    
  <!-- 게스트 목록 -->
  <servlet>
    <servlet-name>Guest</servlet-name>
    <servlet-class>guest.mvc.ListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Guest</servlet-name>
    <url-pattern>/guest.do</url-pattern>
  </servlet-mapping>
  
  <!-- 게스트 등록 -->
  <servlet>
    <servlet-name>GuestInsert</servlet-name>
    <servlet-class>guest.mvc.InsertController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GuestInsert</servlet-name>
    <url-pattern>/guestInsert.do</url-pattern>
  </servlet-mapping>
  
  <!-- 게스트 상세 -->
  <servlet>
    <servlet-name>GuestDetail</servlet-name>
    <servlet-class>guest.mvc.DetailController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GuestDetail</servlet-name>
    <url-pattern>/guestDetail.do</url-pattern>
  </servlet-mapping>
  
  <!-- 게스트 수정화면 불러오기 -->
  <servlet>
    <servlet-name>GuestEditPre</servlet-name>
    <servlet-class>guest.mvc.EditPreController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GuestEditPre</servlet-name>
    <url-pattern>/guestPreEdit.do</url-pattern>
  </servlet-mapping>
  
  <!-- 게스트 수정 -->
  <servlet>
    <servlet-name>GuestEdit</servlet-name>
    <servlet-class>guest.mvc.EditController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GuestEdit</servlet-name>
    <url-pattern>/guestEdit.do</url-pattern>
  </servlet-mapping>
  
  <!-- 게스트 삭제 -->
  <servlet>
    <servlet-name>GuestDelete</servlet-name>
    <servlet-class>guest.mvc.DeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GuestDelete</servlet-name>
    <url-pattern>/guestDelete.do</url-pattern>
  </servlet-mapping>
  
  <!-- 게스트 댓글 쓰기 -->
  <servlet>
    <servlet-name>GuestCoInsert</servlet-name>
    <servlet-class>guest.mvc.coInsertController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GuestCoInsert</servlet-name>
    <url-pattern>/guestCoInsert.do</url-pattern>
  </servlet-mapping>
  
  <!-- 댓글 삭제 -->
  <servlet>
    <servlet-name>GuestCoDelete</servlet-name>
    <servlet-class>guest.mvc.coDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GuestCoDelete</servlet-name>
    <url-pattern>/guestCoDelete.do</url-pattern>
  </servlet-mapping>
  
  <!-- ////////////////////////////////////////////////////////문의사항  --> 
  <!-- 회원용 문의사항 등록 -->
  <servlet>
    <servlet-name>G_RequestInsert</servlet-name>
    <servlet-class>request.G_InsertController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>G_RequestInsert</servlet-name>
    <url-pattern>/G_requestInsert.do</url-pattern>
  </servlet-mapping>  
  
  <!-- 문의사항 목록 -->
  <servlet>
    <servlet-name>Request</servlet-name>
    <servlet-class>request.ListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Request</servlet-name>
    <url-pattern>/request.do</url-pattern>
  </servlet-mapping>  
  
  <!-- 문의사항 상세보기 -->
  <servlet>
    <servlet-name>RequestDetail</servlet-name>
    <servlet-class>request.DetailController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestDetail</servlet-name>
    <url-pattern>/requestDetail.do</url-pattern>
  </servlet-mapping>  
  
  <!-- 문의사항 삭제 -->
  <servlet>
    <servlet-name>RequestDelete</servlet-name>
    <servlet-class>request.DeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestDelete</servlet-name>
    <url-pattern>/requestDelete.do</url-pattern>
  </servlet-mapping>  
  
  <!-- ////////////////////////////////////////////////////////예약하기  -->
  <!-- 회원용 예약 -->
  <servlet>
    <servlet-name>Reservation</servlet-name>
    <servlet-class>reservation.mvc.revStep1Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Reservation</servlet-name>
    <url-pattern>/revStep1.do</url-pattern>
  </servlet-mapping> 
  
  <!-- 회원용 최종예약 -->
  <servlet>
    <servlet-name>revStep2Controller</servlet-name>
    <servlet-class>reservation.mvc.revStep2Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>revStep2Controller</servlet-name>
    <url-pattern>/revStep2.do</url-pattern>
  </servlet-mapping> 
 
  <!-- 회원용 예약목록 -->
  <servlet>
    <servlet-name>revStep3Controller</servlet-name>
    <servlet-class>reservation.mvc.revStep3Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>revStep3Controller</servlet-name>
    <url-pattern>/revStep3.do</url-pattern>
  </servlet-mapping> 
  
  <!-- 회원용 예약삭제 -->
  <servlet>
    <servlet-name>revStep4Controller</servlet-name>
    <servlet-class>reservation.mvc.revStep4Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>revStep4Controller</servlet-name>
    <url-pattern>/revStep4.do</url-pattern>
  </servlet-mapping> 
  
  <!-- 예약 달력 -->
  <servlet>
    <servlet-name>Reservation_Cal</servlet-name>
    <servlet-class>reservation.mvc.revCalController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Reservation_Cal</servlet-name>
    <url-pattern>/revCal.do</url-pattern>
  </servlet-mapping> 
  
    <!-- 예약 관리 -->
  <servlet>
    <servlet-name>Reservation_Board</servlet-name>
    <servlet-class>reservation.mvc.revBoardController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Reservation_Board</servlet-name>
    <url-pattern>/revBoard.do</url-pattern>
  </servlet-mapping> 
 
	<!-- 관리자 예약 삭제 -->
  <servlet>
    <servlet-name>Reservation_BoardDelete</servlet-name>
    <servlet-class>reservation.mvc.revDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Reservation_BoardDelete</servlet-name>
    <url-pattern>/revDelete.do</url-pattern>
  </servlet-mapping> 
 
</web-app>