<?xml version="1.0" encoding="UTF-8" ?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>WebKakao_PJ</display-name>
  <servlet>
    <servlet-name>Board_InsertAction</servlet-name>
    <servlet-class>WebKakao_PJ.action.Board_InsertAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Board_InsertAction</servlet-name>
    <url-pattern>/insert.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Board_ListAction</servlet-name>
    <servlet-class>WebKakao_PJ.action.Board_ListAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Board_ListAction</servlet-name>
    <url-pattern>/myList.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Board_DetailAction</servlet-name>
    <servlet-class>WebKakao_PJ.action.Board_DetailAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Board_DetailAction</servlet-name>
    <url-pattern>/detail.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Board_DeleteAction</servlet-name>
    <servlet-class>WebKakao_PJ.action.Board_DeleteAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Board_DeleteAction</servlet-name>
    <url-pattern>/delete.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Board_EditPreAction</servlet-name>
    <servlet-class>WebKakao_PJ.action.Board_EditPreAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Board_EditPreAction</servlet-name>
    <url-pattern>/editpre.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Board_EditAction</servlet-name>
    <servlet-class>WebKakao_PJ.action.Board_EditAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Board_EditAction</servlet-name>
    <url-pattern>/edit.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Board_OtherListAction</servlet-name>
    <servlet-class>WebKakao_PJ.action.Board_OtherListAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Board_OtherListAction</servlet-name>
    <url-pattern>/frList.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Board_PreviousAction</servlet-name>
    <servlet-class>WebKakao_PJ.action.Board_PreviousAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Board_PreviousAction</servlet-name>
    <url-pattern>/previous.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Board_NextviewAction</servlet-name>
    <servlet-class>WebKakao_PJ.action.Board_NextviewAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Board_NextviewAction</servlet-name>
    <url-pattern>/nextview.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Board_RecommendAction</servlet-name>
    <servlet-class>WebKakao_PJ.action.Board_RecommendAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Board_RecommendAction</servlet-name>
    <url-pattern>/recommend.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LOGIN</servlet-name>
    <servlet-class>WebKakao_PJ.action.Login_Action</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LOGIN</servlet-name>
    <url-pattern>/Login.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Join_Action</servlet-name>
    <servlet-class>WebKakao_PJ.action.Join_Action</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Join_Action</servlet-name>
    <url-pattern>/Join.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Join_UserIDCheckAction</servlet-name>
    <servlet-class>WebKakao_PJ.action.Join_userid_check</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Join_UserIDCheckAction</servlet-name>
    <url-pattern>/userid_check.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Memo_SaveAction</servlet-name>
    <servlet-class>WebKakao_PJ.action.Memo_SaveAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Memo_SaveAction</servlet-name>
    <url-pattern>/Memo_Save.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Memo_ViewAction</servlet-name>
    <servlet-class>WebKakao_PJ.action.Memo_ViewAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Memo_ViewAction</servlet-name>
    <url-pattern>/Memo_View.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Comment_InsertAction</servlet-name>
    <servlet-class>WebKakao_PJ.action.Comment_InsertAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Comment_InsertAction</servlet-name>
    <url-pattern>/comment_insert.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Cmb_InsertAction</servlet-name>
    <servlet-class>WebKakao_PJ.action.Cmb_InsertAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cmb_InsertAction</servlet-name>
    <url-pattern>/cmb_insert.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Cmb_DeleteAction</servlet-name>
    <servlet-class>WebKakao_PJ.action.Cmb_DeleteAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cmb_DeleteAction</servlet-name>
    <url-pattern>/Cmb_delete.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Cmb_UpdateAction</servlet-name>
    <servlet-class>WebKakao_PJ.action.Cmb_UpdateAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cmb_UpdateAction</servlet-name>
    <url-pattern>/Cmb_update.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Cmb_ModifyAction</servlet-name>
    <servlet-class>WebKakao_PJ.action.Cmb_ModifyAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cmb_ModifyAction</servlet-name>
    <url-pattern>/Cmb_modify.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Msg_ListAction</servlet-name>
    <servlet-class>WebKakao_PJ.action.Msg_ListAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Msg_ListAction</servlet-name>
    <url-pattern>/Msg_list.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Msg_InsertAction</servlet-name>
    <servlet-class>WebKakao_PJ.action.Msg_InsertAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Msg_InsertAction</servlet-name>
    <url-pattern>/Msg_Insert.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Msg_ViewAction</servlet-name>
    <servlet-class>WebKakao_PJ.action.Msg_ViewAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Msg_ViewAction</servlet-name>
    <url-pattern>/Msg_View.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Msg_DeleteAction</servlet-name>
    <servlet-class>WebKakao_PJ.action.Msg_DeleteAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Msg_DeleteAction</servlet-name>
    <url-pattern>/Msg_Delete.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Msg_sendListAction</servlet-name>
    <servlet-class>WebKakao_PJ.action.Msg_sendListAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Msg_sendListAction</servlet-name>
    <url-pattern>/Msg_sendlist.do</url-pattern>
  </servlet-mapping>
</web-app>