  @import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
      @import url(http://fonts.googleapis.com/earlyaccess/nanumbrushscript.css);
      @import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
      @import url(http://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);
      @import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
      @import url(http://fonts.googleapis.com/earlyaccess/nanumpenscript.css);

#m1{ 
	margin-left:390px; 
	}
#m1 ul li{
	font-size:15px;
 	font-family:'Nanum Myeongjo';
 	font-weight:bold;
 	float:left;
 	padding-top:15px;
 
}
#m1 ul li:first-child{border-left:none;}
#m1 ul li a{
	display:block;
	margin:0px 10px 30px 30px;
	text-decoration:none;
	font-size:15px;
	color:white;
	}
#m1 ul li a:hover{color:white;font-size:14px;}
#m1 ul li ul li a{
	text-decoration:none;
	font-size:13px;
	color:black;
	}
#ul,li{list-style-type:none;}
#m1>ul>li{float:left; margin:0;}
#m1 ul li ul li {padding-top:5px;padding-left:0px;font-size:13px;}
#m1 ul ul {display:none;}
#m1 ul li:hover ul {
display:block;background-color:#575757;
font-family:'Nanum Myeongjo';
height:25px;left:470px;top:41px; margin-top:10px;
position:absolute; color:white;text-align:center;padding:0;
}
#m1 ul li:hover ul.f {
display:block;background-color:#575757;
font-family:'Nanum Myeongjo';
height:25px;left:600px;top:41px; margin-top:10px;
position:absolute; color:white;text-align:center;padding:0;
}
#m1 ul li:hover ul.A {
display:block;background-color:#575757;
font-family:'Nanum Myeongjo';
height:25px;left:880px;top:41px;margin-top:10px;
position:absolute; color:white;text-align:center;padding:0;
}
#m1 ul li:hover ul.m {
display:block;background-color:#575757;
font-family:'Nanum Myeongjo';
height:25px;left:1040px;top:41px; margin-top:10px;
position:absolute; color:white;text-align:center;padding:0;
}
#m1 ul li:hover ul.q {
display:block;background-color:#575757;
font-family:'Nanum Myeongjo';
height:25px;left:750px;top:41px; margin-top:10px;
position:absolute; color:white;text-align:center;padding:0;
}