<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Project_HOTEL_TOP</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
 <servlet>
    <servlet-name>mainevent</servlet-name>
    <servlet-class>reservation.controller.EventMainController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mainevent</servlet-name>
    <url-pattern>/main.do</url-pattern>
  </servlet-mapping>
  
  

  <servlet>
    <servlet-name>search</servlet-name>
    <servlet-class>reservation.controller.SearchRoomsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>search</servlet-name>
    <url-pattern>/searchRooms.do</url-pattern>
  </servlet-mapping>
  
  <!-- 
   <servlet>
    <servlet-name>myRev</servlet-name>
    <servlet-class>reservation.controller.MyReservationListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>myRev</servlet-name>
    <url-pattern>/myReservation.do</url-pattern>
  </servlet-mapping>
   -->
  
  

  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>member.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Join</servlet-name>
    <servlet-class>member.controller.JoinController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Join</servlet-name>
    <url-pattern>/join.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IDCheck</servlet-name>
    <servlet-class>member.controller.JoinCheckController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IDCheck</servlet-name>
    <url-pattern>/check.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ZipCheck</servlet-name>
    <servlet-class>member.controller.ZipcodeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ZipCheck</servlet-name>
    <url-pattern>/addr.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>List</servlet-name>
    <servlet-class>member.controller.ListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>List</servlet-name>
    <url-pattern>/list.do</url-pattern>
  </servlet-mapping>
  <servlet>
      <servlet-name>Tojoin</servlet-name>
    <servlet-class>member.controller.ToJoinController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Tojoin</servlet-name>
    <url-pattern>/toJoin.do</url-pattern>
  </servlet-mapping>
 
  
  <servlet>
      <servlet-name>Toedit</servlet-name>
    <servlet-class>member.controller.ToEditController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Toedit</servlet-name>
    <url-pattern>/toEditController.do</url-pattern>
  </servlet-mapping>
  
  
  
  
  <servlet>
    <servlet-name>Detail</servlet-name>
    <servlet-class>member.controller.ListDetailController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Detail</servlet-name>
    <url-pattern>/detail.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>toMain</servlet-name>
    <servlet-class>member.controller.ToMainController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>toMain</servlet-name>
    <url-pattern>/toMain.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Delete</servlet-name>
    <servlet-class>member.controller.ListDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete</servlet-name>
    <url-pattern>/delete.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Edit</servlet-name>
    <servlet-class>member.controller.ListEditController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Edit</servlet-name>
    <url-pattern>/edit.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>e_list</servlet-name>
    <servlet-class>event.controller.EventListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>e_list</servlet-name>
    <url-pattern>/e_list.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>g_e_list</servlet-name>
    <servlet-class>event.controller.G_EventListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>g_e_list</servlet-name>
    <url-pattern>/g_e_list.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>e_insert</servlet-name>
    <servlet-class>event.controller.EventInsertController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>e_insert</servlet-name>
    <url-pattern>/e_insert.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>e_delete</servlet-name>
    <servlet-class>event.controller.EventDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>e_delete</servlet-name>
    <url-pattern>/e_delete.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>e_detail</servlet-name>
    <servlet-class>event.controller.EventDetailController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>e_detail</servlet-name>
    <url-pattern>/e_detail.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>e_edit</servlet-name>
    <servlet-class>event.controller.EventEdittController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>e_edit</servlet-name>
    <url-pattern>/e_edit.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>e_insertform</servlet-name>
    <servlet-class>event.controller.EventInsertFormController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>e_insertform</servlet-name>
    <url-pattern>/e_insertform.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>er_insert</servlet-name>
    <servlet-class>event.controller.EventReplyInsertController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>er_insert</servlet-name>
    <url-pattern>/er_insert.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>er_delete</servlet-name>
    <servlet-class>event.controller.EventReplyDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>er_delete</servlet-name>
    <url-pattern>/er_delete.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>review_list</servlet-name>
    <servlet-class>review.controller.reviewListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>review_list</servlet-name>
    <url-pattern>/review_list.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>review_insert</servlet-name>
    <servlet-class>review.controller.reviewInsertController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>review_insert</servlet-name>
    <url-pattern>/review_insert.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>review_delete</servlet-name>
    <servlet-class>review.controller.reviewDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>review_delete</servlet-name>
    <url-pattern>/review_delete.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>review_update</servlet-name>
    <servlet-class>review.controller.reviewUpdateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>review_update</servlet-name>
    <url-pattern>/review_update.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>review_detail</servlet-name>
    <servlet-class>review.controller.reviewDetailController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>review_detail</servlet-name>
    <url-pattern>/review_detail.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>review_hotup</servlet-name>
    <servlet-class>review.controller.reviewHotUpdateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>review_hotup</servlet-name>
    <url-pattern>/review_hotup.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>qna_reply</servlet-name>
    <servlet-class>qna.controller.QnAReplyController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>qna_reply</servlet-name>
    <url-pattern>/qnareply</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>qna_list</servlet-name>
    <servlet-class>qna.controller.QnAListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>qna_list</servlet-name>
    <url-pattern>/qnalist</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>qna_insert</servlet-name>
    <servlet-class>qna.controller.QnAInsertController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>qna_insert</servlet-name>
    <url-pattern>/qnainsert</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>qna_edit</servlet-name>
    <servlet-class>qna.controller.QnAEditController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>qna_edit</servlet-name>
    <url-pattern>/qnaedit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>qna_delete</servlet-name>
    <servlet-class>qna.controller.QnADeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>qna_delete</servlet-name>
    <url-pattern>/qnadelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>qna_detail</servlet-name>
    <servlet-class>qna.controller.QnADetailController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>qna_detail</servlet-name>
    <url-pattern>/qnadetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>qna_form</servlet-name>
    <servlet-class>qna.controller.QnAFormController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>qna_form</servlet-name>
    <url-pattern>/qnaform</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>about</servlet-name>
    <servlet-class>about.controller.Aboutcontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>about</servlet-name>
    <url-pattern>/about</url-pattern>
  </servlet-mapping>


</web-app>